@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @font-family: 'Montserrat', -apple-system, system-ui, sans-serif;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 transparent; /* light mode colors */
}

.dark .scrollbar-custom {
  scrollbar-color: #4a5568 transparent; /* dark mode colors */
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4a5568;
}
