@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', -apple-system, system-ui, sans-serif;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 transparent; /* Firefox light mode */
}

/* Firefox dark mode */
:root.dark .scrollbar-custom {
  scrollbar-color: #4a5568 transparent;
}

/* Chrome, Safari, Edge (WebKit) */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
}

:root.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4a5568;
}
